body{
    background-color: #001100;
    color: #ffff;
}
h1{
    color: aqua;
    text-align: center;
}

p{
    color: wheat;
    font-size: 18;
    text-align: justify;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20;
}